
  *{
      box-sizing: border-box;
  }
  .row::after{
      content:"";
      clear:both;
      display: table;
  }
  html{
      font-family: "Lucida Sans," Arial;
  }
  .header{
      Background-color: var(--primary-color);
      color: black;
  }
  
 
  
    .footer {
      background-color: var(--primary-color);
      color: var(-secondary-color);
      text-align: center;
      font-size: 12px;
      padding: 15px;
    }
  
    @media only screen and (min-width: 768px) {
      .colr {
          width: 25%;
          float: right
         
        }
        .colm {
          width: 50%;
          float:left
          
        }
      
      .coll {
          width: 25%;
        float: left
    }
    
      }
      
        text{
            background-color: aquamarine;
        }
        p{
          background-color: var(--primary-color);
          color: var(--secondary-color);
        }
        h1{
            background-color:var(--secondary-color);
            
        }
        .topnav {
            overflow: hidden;
            background-color: rgb(66, 0, 172);
          }
          
          .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
          }
          
          .topnav a:hover {
            background-color: #ddd;
            color: black;
          }
          
          .topnav a.active {
            background-color: #7b00ff;
            color: white;
          }
        
        
      
      
      
    
      
      
      